body{
	text-align:left;
	background:white;
	}
ul {
	display: inline;
	color: black;
	background: #C3F2AC;
	list-style: none;
	padding-left:0px;
}
ul li{
	background: #C3F2AC;
	display:inline-block;
	position: relative;
	padding: 5px 10px;
	margin-right:-4px;
	
}
ul li:hover{
	color:black;
	background:#B0DA9B;
	font-weight: bold;
}
ul li ul{

	display: none;
	position: absolute;
	left:0px;
	top:100%;
	border-style:solid;
	border-width:1px;
	padding-right:4px;

	
}
#arrow{
	float:right;
	}
.arrow {
		
	width: 10px;
	height: 10px; 
 }
ul li:hover ul{
	
	display:block;
}
ul li ul li {
	font-weight: normal;
	text-align:left;
	padding:5px 10px;
	display:block;
	

}
ul li ul li ul{
	font-weight: normal;
	display: none;	
	position: absolute;
	left:100%;
	top:4px;
	border:none;
}
ul li ul li ul li{
	text-align:left;
	padding:5px 10px;
	width:80px;
	display:none;
	

}
ul li ul li:hover ul{
	display:block;
	border:1px solid;
}
ul li ul li:hover ul li{
	display:block;
}
#nowrap{
	white-space: nowrap;
}

.

