<div class="container">
	<div class="row">
		<div class="col-sm-4 text-center">
			<div class="cardbg">
				<img class="img-responsive" src="media/unknow_profile_picture.png" height="800" width="800">
				<ul class="pagination">
					<li><a href="#">1</a></li>
					<li class="#"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="cardbg">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="control-label col-sm-2" for="fname">First Name:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="fname" placeholder="First Name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="fname">Last Name:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="fname" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="fname">Birthday:</label>
						<div class="col-sm-8">
							<input type="date" class="form-control" id="bday" placeholder="XX/XX/XXXX">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">Email:</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="email" placeholder="example@email.com">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="password">Password:</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Submit</button>
							<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>