     <div class="modal fade" id="myDialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <form class="form-horizontal" >
          <div class="modal-header">
            <a href="?" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
            <h4 class="modal-title" >{{vm.d.title}}</h4>
          </div>
        	<div class="modal-body">{{vm.d.body}}
        	</div>
        	<div class="modal-footer">
        		<a href="?" class="btn btn-default" data-dismiss="modal" >Cancel </a>
        		<input ng-click="vm.d.confirm()" type="submit" name="submit" class="btn btn-primary submit" value="Save changes" />
        	</div>
        </form>
        </div>
      </div>
    </div>
 <div class="container">
        <div class="row">
        	<div class="col-md-7">
        		<div class="cardbg">
                    <table class="table table-bordered">
                    	<thead>
                    		<tr>
                    			<th>Meal</th>
                    			<th>Minutes</th>
                    			<th>Date</th>
                    			<th>Calories</th>
                    		</tr>
                    	</th>
                            <tr ng-repeat="row in vm.rows">
                                <td ng-if-start="!row.isEditing">{{row.exercisename}}</td>
                                <td>{{row.minutes}}</td>
                                <td>{{row.date}}</td>
                                <td>{{row.calories}}</td>
                                <td ng-if-end>
                             	    <a ng-click="vm.edit(row,$index)" title="Edit" class="btn btn-primary btn-xs edit"><i class="glyphicon glyphicon-edit"></i></a>
                              		<a ng-click="vm.view(row, $index)" title="View" class="btn btn-info btn-xs view"><i class="glyphicon glyphicon-eye-open"></i></a>
                              		<a ng-click="vm.delete(row, $index)" title="Delete" class="btn btn-danger btn-xs delete"><i class="glyphicon glyphicon-minus"></i></a>
                             	</td>
                             	<td ng-if-start="row.isEditing">
                             	    <select class="form-control" name="exercisename" ng-model="row.exercisename">
                        		    	<option >Running</option>
                        		      	<option >Swimming</option>
                        		      	<option >Climbing</option>
                        		    	<option >Weight Lifting</option>
                    		    	</select>
                    		  	</td>
                             	<td><input type='number' name'minutes' class='form-control' placeholder='Date' ng-model='row.minutes' /></td>
                                <td><input type="date" name="date" class="form-control" placeholder="Date" ng-model="row.date" /></td>
                                <td><input type="number" name="calories" class="form-control" placeholder="Calories" ng-model="row.calories" /></td>
                                <td ng-if-end><input type="button" value="Submit" class="btn btn-primary submit" ng-click="vm.save(row, $index)"/></td>
                            </tr>
                    </table>
        	    </div>
            </div>
            <div class="col-md-5">
                <div class="cardbg">
                	<h3 class="text-center">Add Exercise</h3>
            		<form id='newExercise' class="form-horizontal">
                        <div class="form-group">
                		    <label class="control-label col-xs-3">Meal:</label>
                		    <div class="col-xs-7">
                    			<select class="form-control" name="exercisename">
                    		    	<option >Running</option>
                    		      	<option >Swimming</option>
                    		      	<option >Climbing</option>
                    		    	<option >Weight Lifting</option>
                    		  	</select>
                		    </div>
                	    </div>
                    	<div class="form-group">
                			<label class="control-label col-xs-3">Minutes:</label>
                			<div class="col-xs-7">
                				<input type="number" name="minutes" class="form-control" placeholder="Minutes" />
                			</div>
                		</div>
                    	<div class="form-group">
                			<label class="control-label col-xs-3">Date:</label>
                			<div class="col-xs-7">
                				<input type="date" name="date" class="form-control" placeholder="Date"/>
                			</div>
                		</div>
                        <div class="form-group">
                		    <label class="control-label col-xs-3">Calories:</label>
            		        <div class='col-xs-7'>
            			        <input type="number" name="calories" class="form-control" placeholder="Calories"/>
            		        </div>
            	       </div>
                	    <div class="form-group">
                            <div class='col-xs-offset-3 col-xs-9'>
                                 <button type="button" class="btn btn-primary" ng-click="vm.create()"><small><span class="glyphicon glyphicon-plus"></small> Add Meal</button>
                    		</div>
                    	</div>
                    </form>
                </div>
            </div>
        </div>
    </div>